  <div class="hero">
    <br />
    <div class="frosty col-10 offset-1 text-center">
      <br />
      <h1>Learn matrix navigation</h1>
      <br />
      <h2>I'm the alchemist, Neville.</h2>
      <br />
      <%= link_to 'Learn more', '#', class: 'btn btn-success' %>
      <br /><br />
    </div>
  </div
  
  
  <br />
  <div class="row feature text-center">
    <div class="col-12 col-sm">
      <h3>Courses</h3>
      <br />
      <p>Choose from any number of courses to study the secrets of consciousness</p>
    </div>
    
    <div class="col-12 col-sm">
      <h3>Learn at your own pace</h3>
      <br />
      <p>Enroll and access the courses archive</p>
    </div>
    
    <div class="col-12 col-sm">
      <h3>Join our Community</h3>
      <br />
      <p>Learn with a community of enlightened individuals</p>
    </div>
  </div>