<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">SpeakEasy</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  <div class="hero">
    <br />
    <div class="frosty col-10 offset-1 text-center">
      <br />
      <h1>Learn matrix navigation</h1>
      <br />
      <h2>I'm the alchemist, Neville.</h2>
      <br />
      <%= link_to 'Learn more', '#', class: 'btn btn-success' %>
      <br /><br />
    </div>
  </div
  
  
  <br />
  <div class="row feature text-center">
    <div class="col-12 col-sm">
      <h3>Courses</h3>
      <br />
      <p>Choose from any number of courses to study the secrets of consciousness</p>
    </div>
    
    <div class="col-12 col-sm">
      <h3>Learn at your own pace</h3>
      <br />
      <p>Enroll and access the courses archive</p>
    </div>
    
    <div class="col-12 col-sm">
      <h3>Join our Community</h3>
      <br />
      <p>Learn with a community of enlightened individuals</p>
    </div>
  </div>